<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}" />
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" type="text/css" />
  <!-- htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <!-- hyperscript -->
  <!-- <script src="https://unpkg.com/hyperscript.org@0.9.12"></script> -->
</head>

<body hx-boost="true" class="flex flex-col min-h-screen">
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>